.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  padding: 3.2rem 1.5rem;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);

  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;

  &.isOpen {
    pointer-events: all;
    opacity: 1;

    .modal {
      transform: scale(1);
    }
  }
}

.modal {
  margin: auto 0;
  min-width: 34.5rem;

  transform: scale(0.5);
  transition: transform 250ms ease-in-out;
}
